*.pyc
*.pyo
*.pyd
__pycache__
*.so
*.rdb
*.log
*.sqlite

# Environments
.env
.venv
env/
venv/
ENV/

# Flask
instance/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode

# PyCharm
.idea/

# Spyder
.spyproject

# Operating Systems
.DS_Store
Thumbs.db