body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    padding: 10px 0px;
}

header h1 {
    margin: 0;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 250px;
}

header .logo img {
    width: 50px;
    height: 50px;
    display: flex;
}

.user-icon {
    width: 50px;
    padding-right: 20px;
}

.user-icon img {
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 250px auto;
    width: 100vw;

}

/* start left menu */
.left-menu {
    position: relative;
    background-color: red;
}

nav {
    background-color: lightgrey;
    border-right: 2px solid black;
    position: fixed;
    top: 70px;
    left: 0;
    max-width: 250px;
    /*same as in main grid column one*/
    height: 100vh;
}

nav ul {
    list-style: none;
    padding: 20px;
}

nav .footer {
    position: fixed;
    bottom: 0vh;
    padding-left: 20px;
    /*same as nav ul*/
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: black;
    font-size: large;
    font-weight: bold;
}

nav a {
    display: grid;
    grid-template-columns: 50px auto;
    gap: 20px;
    align-items: center;
}

nav img {
    width: 100%;
}

.footer {
    text-align: center;
    font-size: 0.8em;
}

/* end left menu */

.content {
    margin: 70px 30px 30px 30px;
    overflow-x: hidden;
}

.top {
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    padding: 20px 0px 10px 0px;
    width: 100vw;
}

.top h2 {
    margin: 0;
    padding-left: 20px;
}

.top img {
    width: 50px;
    height: 50px;
}

.films,
.books {
    margin: 20px 0;
    overflow-x: auto;
}

.scroll-container {
    display: flex;
    gap: 10px;
}

.films .card div,
.books .card div {
    width: 150px;
    height: 250px;
}

.films .card div img,
.books .card div img {
    width: 100%;
    height: 100%;
}


.films .card p,
.books .card p {
    color: gray;
}

.card {
    width: 150px;
}

.calendar-list ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 20px;
    padding: 0px;
}

.calendar-item {
    border-bottom: 2px solid gray;
    display: grid;
    grid-template-columns: 10% 150px 30% 10% 10%;
    align-items: center;
}

.calendar-item span {
    color: gray;
}

.calendar-item:nth-child(9) {
    border-bottom: none;
}

.calendar-item:last-child {
    border-bottom: none;
}

.calendar-item-title {
    text-align: center;
}

.calendar-item p {
    text-align: center;
}

.calendar-item-img {
    width: inherit;
    height: auto;
}


.calendar-item-img img {
    width: 100px;
    height: 120px;
}

.like {
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: transparent;
    border: none;
}
.like:hover {
    cursor: pointer;
}

.like:hover path{
    cursor: pointer;
    fill: red;
}

