{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}"> <!-- Assuming this CSS contains the desired styles -->

    <title>Login - BookflixRecommender</title>
</head>

<body>
    {% include 'templates/header.html' %}
    <main>
        {% include 'templates/sidebar.html' %}
        <div class="content">
            <div class="login-container"> <!-- This div should mirror the style of your other containers -->
                <div class="top">
                    <h2>Login</h2>
                </div>
                <div class="form-wrapper">
                    <form class="login-form" id="loginForm" action="/api/user/login/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                    </form>
                </div>
                <div class="buttons">
                    <div class="registration-prompt">
                        <p>Don't have an account?</p>
                        <a href="/user/register/">Register</a>
                    </div>
                    <div class="form-group">
                        <div class="button-wrapper"> <!-- New wrapper for the button -->
                            <button type="submit" class="login-button">Login</button>
                        </div>
                        <div class="error-message" id="error-message"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'js/login.js' %}"></script> <!-- Moved JavaScript to an external file -->
</body>

</html>