{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login - BookflixRecommender</title>
</head>

<body>
    <div class="content">
        <div class="logo-and-title">
            <div class="logo">
                <img src="{% static 'logo/logo.png' %}" alt="Лотип сайта" style="max-width: 64px; max-height: 64px;">
                <h1>BookflixRecommender</h1>
            </div>
        </div>
        <div class="login-container">
            <h2>Login</h2>
            <form class="login-form" action="/login/" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="login-button">Login</button>
                </div>
            </form>
            <div class="registration-prompt">
                <p>Don't have an account? <a href="/user/register/">Register</a></p>
            </div>
        </div>
    </div>
</body>