{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <title>Register - BookflixRecommender</title>
</head>

<body>
    {% include 'templates/header.html' %}
    <main>
        {% include 'templates/sidebar.html' %}
        <div class="content">
            <div class="login-container">
                <div class="top">
                    <h2>Register</h2>
                </div>
                <div class="form-wrapper">
                    <form class="login-form" id="loginForm" action="/api/user/login/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password1">Password:</label>
                            <input type="password" id="password1" name="password1" required>
                        </div>
                        <div class="form-group">
                            <label for="password2">Confirm Password:</label>
                            <input type="password" id="password2" name="password2" required>
                        </div>
                    </form>
                </div>
                <div class="buttons">
                    <div class="registration-prompt">
                        <p>Already have an account?</p>
                        <a href="/user/login/">Login</a>
                    </div>
                    <div class="form-group">
                        <div class="button-wrapper">
                            <button id="submitButton" class="login-button">Register</button>
                        </div>
                        <div class="error-message" id="error-message"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        document.getElementById('submitButton').addEventListener('click', function() {
            fetch('/api/user/registration/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                },
                body: JSON.stringify({
                    username: document.getElementById('username').value,
                    email: document.getElementById('email').value,
                    password1: document.getElementById('password1').value,
                    password2: document.getElementById('password2').value
                })
            })
            .then(response => {
                  if (response.status === 204) { // whyyyyy does registration return 204!??!
                      var nextUrl = new URLSearchParams(window.location.search).get('next');
                      window.location.href = nextUrl ? nextUrl : '/user/account';
                  } else {
                      return response.json();
                  }
              })
            .then(data => {
                if (!data.error) {
                  var nextUrl = new URLSearchParams(window.location.search).get('next');
                  window.location.href = nextUrl ? nextUrl : '/user/account';
                } else {
                    // handle error
                }
            });
        });
    </script>
</body>

</html>