.media-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.media-item img {
    border-radius: 5px;
    margin-right: 10px;
    object-fit: fill;
    width: 100px; /* Adjust width as needed */
    height: 150px; /* Adjust height as needed */
}

.media-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distributes space between items */
    flex: 1; /* Allows the media-info to take up the remaining space */
}

.media-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.media-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

/* New class for the rating to align it with the favorite button */
.media-rating {
    align-self: flex-end;
    padding-right: 20px;
}

/* Update the favorite button styling if necessary */
.favorite-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    align-self: center; /* Align the button vertically */
}

/* Optional: Add a margin to separate the title from the year and director */
.media-info > h3 {
    margin-bottom: 5px;
}

.underline {
    width: 100%;
    border-bottom: 3px solid black;
    margin: 0px;
}

.title-main {
    text-align: center;
}

.rating-area {
    display: flex;
}