.top {
    display: flex;
    padding: 20px 0px 10px 0px;
    width: 100vw;
}

.top h2 {
    text-align: center;
}

.calendar-list {
    list-style-type: none;
    display: grid;
}

.calendar-item {
    border-bottom: 2px solid gray;
    display: grid;
    grid-template-columns: 10% 40% 10% 10% auto;
    align-items: center;
    padding-bottom: 10px;
}

.calendar-item ul {
    list-style-type: none;
    padding-left: 0px;
}

.calendar-item ul li {
    text-align: center;
    justify-content: center;
}

.calendar-item-title {
    text-align: center;
}

.calendar-item p {
    text-align: center;
}

.calendar-item-img {
    width: inherit;
    height: auto;
}

.underline {
    width: 100%;
    border-bottom: 3px solid black;
    margin: 0px;
}

.main-content {
    margin: 0;
}

.calendar-item-img img {
    width: 80px;
    height: 120px;
}

.mnogabukav li {
    margin-bottom: 10px;
}

.mnogabukav li h3 {
    text-align: left;
    margin: 0px;
}

.mnogabukav li h4 {
    text-align: left;
    margin: 0px;
}

.mnogabukav li p {
    text-align: left;
    margin: 0px;
}

.mnogabukav li:first-child {
    font-size: large;
    font-weight: bold;
    color: black;
}

.comento button {
    height: 40px;
    border: 2px solid;
    border-radius: 10px;
    border-color: silver;
    color: red;
    width: 160px;
    margin-top: 10px;
}

.mnogabukav li:last-child {
    font-size: small;
    color: gray;
}

.rate {
    display: flex;
    justify-content: flex-end;
}

.rate ul li {
    font-weight: bold;
    font-size: large;
    margin-bottom: 30px;
}

.likee {
    display: flex;
    justify-content: center;
}

.likee button {
    width: 65px;
    height: 65px;
    border-radius: 5px;
    border: none;
}

.likee button img{
    width: 35px;
    height: 35px;
}

.genre-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.genre-item:hover label {
    color: #007BFF;
}

.genre-item input[type="checkbox"] {
    display: none;
}

.genre-item label {
    font-size: 16px;
    margin-left: 10px;
}

.genre-item input[type="checkbox"]:checked + label {
    font-weight: bold;
    color: #007BFF;
}

#save-genres {
    display: inline-block;
    background-color: #007BFF;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

#save-genres:hover {
    background-color: #0056b3;
}

.coments ul li p {
    font-weight: bold;
}