<body>
    <button id="populateBooks">Populate Books (refresh after)</button>
    <script>
        document.getElementById("populateBooks").addEventListener("click", function() {
            fetch('/api/books/popular/')
            .then(response => response.json())
            .then(data => {
                data.results.forEach(book => {
                    fetch('/api/books/create/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({id: book.id}),
                    })
                    .then(response => response.json())
                    .then(data => console.log(data))
                    .catch((error) => console.error('Error:', error));
                });
            })
            .catch((error) => console.error('Error:', error));
        });
    </script>
    <h1>Popular Books</h1>
    <ul id="book-list">
        {% for book in books %}
            <li>
                Title: {{ book.title }},
                Authors:
                {% for author in book.authors.all %}
                    {{ author.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
                Published Date: {{ book.published_date }},
                // Добавьте здесь другую информацию о книге
            </li>
        {% endfor %}
    </ul>
</body>