{% load static %}
{% load fix_chars %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylefilmreply.css' %}">
    <title>BookflixRecommender</title>

    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>

</head>

<body>
    {% include "templates/header.html" %}
    <main>
        {% include "templates/sidebar.html" %}
        <div class="content">
            <div class="calendar-list">
                <ul>
                    <li class="calendar-item">
                        <div class="calendar-item-img">
                            <img src="{{ book.thumbnail }}">
                        </div>
                        <div class="mnogabukav">
                            <ul>
                                <li>
                                    <h3>{{ book.title|fix_chars }}</h3>
                                </li>
                                {% if book.service_rating %}
                                <li><h5>{{ book.service_rating }}⭐</h5></li>
                                {% endif %}

                                {% if user.is_authenticated %}
                                    <div class="likee">
                                        <button data-state="{{ user_rating.favorited|lower }}">
                                            <img src="{% if user_rating.favorited %}/static/logo/избранное.png{% else %}/static/logo/неизбранное.png{% endif %}">
                                        </button>
                                    </div>
                                    
                                    <div class="watch">
                                        <button data-state="{{ user_rating.completed|lower }}">
                                            <img src="{% if user_rating.completed %}/static/logo/просмотрено.png{% else %}/static/logo/непросмотрено.png{% endif %}">
                                        </button>
                                    </div>
                                
                                    <div class="star-rating">
                                        <span class="fa fa-star" onclick="showRating(this)"></span>
                                        <span id="ratingText" class="rate-text" onclick="showRating(this)">{{ user_rating.stars|default:'Оценить' }}</span>
                                    </div>
                                {% endif %}
                                  
                                <div id="starPopup" style="display:none;">
                                    <!-- Звезды для оценки -->
                                    <span class="fa fa-star" onclick="setRating(1)"></span>
                                    <span class="fa fa-star" onclick="setRating(2)"></span>
                                    <span class="fa fa-star" onclick="setRating(3)"></span>
                                    <span class="fa fa-star" onclick="setRating(4)"></span>
                                    <span class="fa fa-star" onclick="setRating(5)"></span>
                                    <span class="fa fa-star" onclick="setRating(6)"></span>
                                    <span class="fa fa-star" onclick="setRating(7)"></span>
                                    <span class="fa fa-star" onclick="setRating(8)"></span>
                                    <span class="fa fa-star" onclick="setRating(9)"></span>
                                    <span class="fa fa-star" onclick="setRating(10)"></span>
                                </div>

                                <li>
                                    <h4>О произведении</h4>
                                </li>
                                <li>
                                    {% if book.release_date %}
                                    <p>Год выпуска: {{ book.release_date.year }}</p>
                                    {% endif %}
                                    {% if book.pages %}
                                    <p>Количество страниц: {{ book.pages }}</p>
                                    {% endif %}
                                    {% if book.authors.exists %}
                                    <p>Автор: {% for author in book.authors.all %}{{ author.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                                    {% endif %}
                                    <!-- <p>Жанр: {% for genre in book.genres.all %}{{ genre.translated_name|default:'недоступно' }}{% if not forloop.last %}, {% endif %}{% endfor %}</p> -->
                                </li>

                            </ul>
                        </div>
                    </li>
                </ul>
                {% if book.description %}
                <ul>
                    <li class="calendar-item">
                        <p>
                            {{ book.description|fix_chars }}
                        </p>    
                    </li>
                </ul>
                <button id="summarizeButton">Получить краткое содержание</button>
                <div id="summaryResult"></div>
                {% endif %}
            </div>
        </div>
    </main>
    <script>
        function getCookie(name) {
            const value = '; ' + document.cookie;
            const parts = value.split('; ' + name + '=');
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        document.getElementById('summarizeButton').addEventListener('click', function() {
            var button = this;
            button.textContent = 'Загрузка...'; // Show loading text
            var bookId = "{{ book.id }}";
    
            fetch('/api/books/summarize', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({ book_id: bookId })
            })
            .then(response => response.json())
            .then(data => {
                button.textContent = 'Получить краткое содержание'; // Reset button text
                document.getElementById('summaryResult').textContent = data.summary; // Display the summary
            })
            .catch(error => {
                console.error('Error:', error);
                button.textContent = 'Получить краткое содержание'; // Reset button text
            });
        });

        function sendStatusUpdate(itemId, mediaType, statusType, status) {
            var payload = {
                media_id: itemId,
                media_type: mediaType
            };
            payload[statusType] = status;

            fetch('/api/user/ratings/set/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify(payload)
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
        var bookId = "{{ book.id }}";
    
        document.addEventListener('DOMContentLoaded', function() {
            var likeButton = document.querySelector('.likee button');
            var watchButton = document.querySelector('.watch button');
    
            likeButton.addEventListener('click', function(event) {
                event.preventDefault();
                var currentState = this.getAttribute('data-state') === 'true';
                var newState = !currentState;
                this.setAttribute('data-state', newState.toString());
                this.querySelector('img').src = newState ? '/static/logo/избранное.png' : '/static/logo/неизбранное.png';
                sendStatusUpdate(bookId, 'book', 'favorited', newState);
            });

            watchButton.addEventListener('click', function(event) {
                event.preventDefault();
                var currentState = this.getAttribute('data-state') === 'true';
                var newState = !currentState;
                this.setAttribute('data-state', newState.toString());
                this.querySelector('img').src = newState ? '/static/logo/просмотрено.png' : '/static/logo/непросмотрено.png';
                sendStatusUpdate(bookId, 'book', 'completed', newState);
            });
            
            var initialRating = parseInt(document.getElementById('ratingText').textContent);
            if (!isNaN(initialRating)) {
                setRating(initialRating);
            }
        });

        function showRating(star) {
            var starPopup = document.getElementById('starPopup');
            starPopup.style.display = 'block';
            starPopup.style.position = 'absolute';
            starPopup.style.left = star.getBoundingClientRect().left + 'px';
            starPopup.style.top = star.getBoundingClientRect().bottom + 'px';
        
            // Highlight the stars based on the current rating
            var currentRating = parseInt(document.getElementById('ratingText').textContent);
            var stars = starPopup.querySelectorAll('.fa-star');
            stars.forEach((star, index) => {
                if (index < currentRating) {
                    star.classList.add('selected');
                } else {
                    star.classList.remove('selected');
                }
            });
        }

        function setRating(value) {
            var ratingText = document.getElementById('ratingText');
            ratingText.textContent = value;
            ratingText.classList.add('selected');
            var stars = document.querySelectorAll('.fa-star');
            stars.forEach((star, index) => {
                if (index < value) {
                    star.classList.add('selected');
                } else {
                    star.classList.remove('selected');
                }
            });
            document.getElementById('starPopup').style.display = 'none';
        
            // Send the rating to the backend
            sendStatusUpdate(bookId, 'book', 'rating', value);
        }
    </script>
</body>

</html>