<body>
    <button id="populateBooks">Populate Books (refresh after)</button>
    <script>
        document.getElementById("populateBooks").addEventListener("click", function() {
            fetch('/api/books/popular/')
            .then(response => response.json())
            .then(data => {
                data.results.forEach(book => {
                    fetch('/api/books/create/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({id: book.id}),
                    })
                    .then(response => response.json())
                    .then(data => console.log(data))
                    .catch((error) => console.error('Error:', error));
                });
            })
            .catch((error) => console.error('Error:', error));
        });
    </script>
    <h1>Popular Books</h1>
    <div id="book-list">
        {% for book in books %}
            <div class="book-card">
                <img src="{{ book.thumbnail }}" alt="{{ book.title }} thumbnail" class="book-thumbnail">
                <h2 class="book-title">{{ book.title }}</h2>
                <h3 class="book-authors">
                    {% for author in book.authors.all %}
                        {{ author.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </h3>
                <p class="book-published-date">Published Date: {{ book.published_date }}</p>
                <p class="book-description">{{ book.description|safe }}</p>
                <p class="book-pages">Pages: {{ book.pages }}</p>
            </div>
        {% endfor %}
    </div>
</body>