{% load static %}
<div class="left-menu">
    <nav>
        <ul>
            <li>
                <a href="#">
                    <img src="{% static 'logo/новинки.png' %}" alt="Иконка Фильмы" />
                    <span>Новинки</span>
                </a>
            </li>
            <li>
                <a href="{% static 'FILMS_BOOKS/films.html' %}">
                    <img src="{% static 'logo/фильмы.png' %}" alt="Иконка Фильмы" />
                    <span>Фильмы</span>
                </a>
            </li>
            <li>
                <a href="{% static 'FILMS_BOOKS/films.html' %}">
                    <img src="{% static 'logo/книги.png' %}" alt="Иконка Книги" />
                    <span>Книги</span>
                </a>
            </li>
            <li>
                <a href="{% static 'PERSONAL_SEARCH/personalselection.html#' %}">
                    <img src="{% static 'logo/подборка.png' %}" alt="Иконка Персональная подборка">
                    <span>Персональная подборка</span>
                </a>
            </li>
        </ul>
        <div class="footer">
            <p>
                © 2024, Злые гении
            </p>
            <p>
                <a>Служба поддержки</a>
            </p>
        </div>
    </nav>
</div>